.outer-container {
  background-color: #f5f5f5;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  .error {
    color: red;
    font-size: 12px;
  }

  .inner-container {
    // max-width: 695.43px;
    width: 490px;
    border-radius: 5px;
    // height: 1390.86px;
    // border: 1px solid black;
    border-radius: 16px;
    background: #ffffff;
    // background-color: red;

    .sub-container {
      width: 80%;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;

      .back-btn-container {
        margin-top: 27px;
        color: #000000;
        cursor: pointer;

        .back-btn-arrow {
          padding-right: 7px;
        }
        .back-btn-name {
          font-size: 20px;
        }
      }

      .current-section-status {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;

        :nth-child(1) {
          background-color: #7c55c5 !important;
        }

        .item {
          height: 11px;
          background-color: #f2f2f2;
          border-radius: 20px;
          border: solid 1px black;
          margin-bottom: 3px;
        }
      }

      .text-desc {
        > h4 {
          font-size: 23px;
          margin: 10px 0;
          color: #1b1b1b;
        }
      }

      .name-container {
        display: flex;
        flex-direction: column;

        .name-label {
          font-size: 16px;
          margin-top: 5px;
          margin-bottom: 5px;
          color: #424242;
        }
        .name-field {
          padding: 7px;
          margin-top: 5px;
          margin-bottom: 5px;
          border-radius: 5px;
        }
      }
      .dob-container {
        display: flex;
        flex-direction: column;

        .dob-label {
          font-size: 16px;
          margin-bottom: 5px;
          color: #424242;
        }
        .dob-field {
          padding: 6px;
          margin-bottom: 5px;
          border-radius: 6px;
        }
      }

      .radio-container {
        display: flex;
        flex-direction: column;
        .radio-name {
          margin-top: 5px;
          font-size: 16px;
          margin-bottom: 5px;
          color: #424242;
        }
        .radio-field[type="checkbox"] {
          margin-left: 18px;
          transform: scale(1.5);
        }
      }

      .born-container {
        display: flex;
        flex-direction: column;
        // font-size: 2px;

        .born-label {
          margin-top: 5px;
          font-size: 16px;
          color: #424242;
          margin-bottom: 6px;
        }

        .born-field {
          input[type="number"] {
            width: 97%;
            padding: 6px;
            margin-right: 5px;
            margin-bottom: 5px;
            border-radius: 6px;
          }
        }
      }

      .child-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        .child-weight-sub-class {
          width: 100%;

          .weight-headline {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;

            font-size: 16px;
            margin-bottom: 4px;
            color: #424242;
          }
          .weight-input select {
            width: 100%;
            padding: 6px;
            border-radius: 6px;
          }

          .weight-input {
            input[type="number"] {
              width: 90%;
              padding: 6px;
              border-radius: 6px;
            }
          }
        }
      }
      // * height container

      .height-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-top: 5px;
        margin-bottom: 10px;

        .height-sub-container {
          width: 100%;

          .height-headline {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            font-size: 16px;
            margin-bottom: 4px;
            color: #424242;
          }

          .height-input select {
            width: 100%;
            padding: 6px;
            border-radius: 6px;
          }

          .height-input {
            input[type="number"] {
              width: 90%;
              padding: 6px;
              border-radius: 6px;
            }
          }
        }
      }
      // * email container

      .email-container {
        display: flex;
        flex-direction: column;

        .email-label {
          font-size: 16px;
          margin-bottom: 5px;
          color: #424242;
        }
        .email-field {
          padding: 6px;
          margin-bottom: 5px;
          border-radius: 6px;
        }
      }

      //* phone number

      .phone-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-top: 5px;
        // margin-bottom: 10px;

        .phone-sub-container {
          width: 30%;

          .phone-headline {
            // width: 100%;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            margin-top: 10px;
            font-size: 16px;
            margin-bottom: 4px;
            color: #424242;
          }

          .phone-input select {
            width: 85%;
            padding: 5.5px;
            border-radius: 6px;
          }

          // .phone-input {
          //   input[type="number"] {
          //     width: 90%;
          //     padding: 5px;
          //     border-radius: 6px;
          //   }
          // }
        }
        .phone-sub-container-2 {
          display: flex;
          width: 70%;
          flex-direction: column;
          justify-content: flex-end;

          .phone-input {
            input[type="tel"] {
              width: 97%;
              padding: 6px;
              border-radius: 6px;
            }
          }
        }
      }
      // * phone error
      .phone-error {
        text-align: center;
        margin-bottom: 10px;
      }

      // * button Container

      .button-container {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 40px;
        margin-top: 30px;

        .btn {
          background: #7c55c5;
          width: 100%;
          padding: 6px;
          color: #ffffff;
          font-size: 20px;
          border: none;
          border-radius: 6px;
        }
      }

      // ! end remove this
    }
  }
}
